{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koerailm</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<div class="container">
    <header>
        <a href="/">
            <img id="ai-seasonal-dog" src="https://i.imghippo.com/files/0TmWx1728769205.png"
                 alt="AI generated seasonal dog image">
        </a>

        <div class="title-subtitle-container">
            <span id="main-title">KOERAILM</span>
            <div id="subtitle">
                koera|ilm<br>
                halb, ebameeldiv, harilikult sajune ilm<br>
                <div class="italic">
                    Sadas lörtsi: tõeline koerailm.<br>
                    Väljas oli kõva tuul ja sadas: säärase koerailmaga ei tahtnud keegi õue minna.
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        <form method="GET" action={% url 'current_weather' %}>
            <input class="box location-search" type="text" name="location_search" placeholder='Otsi asukohta... (täpsemaks otsinguks proovi lisada riigikood, nt. "Riga, LV")'
                   required>
            <span><button type="submit" class="button box clickable">Otsi</button></span>
            <span><button class="button box clickable" onclick="user_location()">Sinu asukoht</button></span>
        </form>

        {% if error %}
            <div id="error-message" class="box">
                <strong>{{ error }}</strong>
            </div>
        {% else %}

            <div id="current-weather" class="box">
                <h2>Asukoht: {{ location }}, {{ country }}</h2>
                <span><img class="weather-image cw" src="{{ icon }}" alt="current weather icon"><br></span>
                <span class="cw_condition cw">{{ condition_text }}</span>
                <span class="cw_temperature cw">
                    Temperatuur: {{ temperature }}°C<br>
                </span>
                <span class="cw_temperature cw feelslike">
                Tundub nagu: {{ temperature_feelslike }}°C<br>
                </span>


                <div class="cw_humidity cw">
                    Niiskustase: {{ humidity }}%
                </div>
                <div class="cw_humidity cw">
                    Sademed: {{ precipitation }} mm/h<br>
                </div>
                <div class="cw_wind cw">
                    Tuule kiirus {{ wind_kmh }} km/h ehk {{ wind_ms }} m/s
                </div>
                <div class="cw_wind cw">
                    Tuulesuund: {{ wind_direction }}
                </div>
                <div class="cw_cloud cw">
                    Pilvisus: {{ cloud }}%
                </div>

            </div>



            <div id="dog-weather-index" class="box">
                <h4>Koerailmaindeks</h4>
                <div id="paws">
                    {% for i in "01234" %}
                        {% if forloop.counter0 < dog_rating %}
                            <img id="dog-paw" src="https://i.imghippo.com/files/Rds5k1728770794.png"
                                 alt="dog rating full">
                        {% else %}
                            <img id="dog-paw" src="https://i.imghippo.com/files/RKTdZ1728769730.png"
                                 alt="dog rating zero">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>



            <div class="box italic folk-saying">
                <h4>Eesti vanasõna</h4>
                {% if current_folk_saying %}
                    <div class="folk-saying">
                        <p>{{ current_folk_saying.text }}</p>
                    </div>
                {% else %}
                    <p>No folk saying for this month.</p>
                {% endif %}

            </div>

            <div id="hourly-forecast" class="box">
                <h4>Tunniprognoos</h4>
                <div id="hourly-forecast-elements">
                    {% for weather in hourly_weather_data %}
                        <div class="hourly-forecast-data">
                            <img src="{{ weather.h_icon }}" alt="hourly forecast icon"><br>
                            <div class="h_hour">{{ weather.h_hour }}</div>
                            <div class="h_temp">{{ weather.h_temperature }}°C</div>
                            <div class="h_hum">Niiskus: {{ weather.h_humidity }}%</div>
                            <br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <footer>
        <p>Võta julgelt arendajaga ühendust
            <a href="https://www.linkedin.com/in/karola-raid-3347052a7/" target="_blank"
               class="contact-link">LinkedInis</a>
        </p>
    </footer>

</div>


<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>